@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap);
}
* {
    font-family: 'Roboto';
    font-weight: 900;
    margin: 0;
    padding: 0;
    user-select: none;
}
input {
    border-color: black;
    height: 50px;
    border-radius: 20px;
}
input[type="text"] {
    padding-left: 10px;
    color: #392720;
}
::-webkit-input-placeholder {
    color: #392720;
    left: 20px;
}
li {
    list-style: none;
}
li>a {
    text-decoration: none;
    color: black;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* Header */

.header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 10px;
    margin-bottom: 10px;
}
.logo {
    display: flex;

    align-items: center;
}
.logo__text {
    padding-left: 40px;
}
.logo__text-title {
    color: #392720;
    font-weight: bold;
    font-size: 24px;
}
.logo__text-subtitle {
    font-size: 12px;
    color: gray;
    width: 150px;
}
.menu__item {
    display: flex;
    justify-content: space-between;
}
.menu__item-links {
    padding-left: 40px;
}
.menu__item-links>a:hover {
    color: #392720;
    transition: .2s ease;
}

.line {
    background-color: #EBEBED;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

/* main */

.main {
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 70px;
}

.main__right {
    align-items: center;
}

.right__title {
    font-size: 24px;
    width: 540px;
}

.subtitle__text {
    font-weight: 400;
    width: 650px;
    margin-top: 15px;
    font-size: 20px;
}

.advantages {
    background: url(../image/advantages.png);
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 50px;
    margin-top: 70px;
    height: 600px;
}

.advantages__title {
    font-size: 32px;
    font-weight: 700;
}

.advantages__way {
    position: relative;
    padding-left: 150px;
    padding-right: 150px;
}

.advantages__way-item {
    margin-top: 90px;
    position: absolute;
    width: 200px;
    transition: .2s;
}

.way__item-icon {
    background-color: #392720;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 10px;
}

.way__item-subtitle {
    margin-top: 10px;
    font-weight: 100;

}

.material {
    margin-left: 250px;
}

.command {
    margin-left: 550px;
    margin-top: 200px;
}

.fast {
    margin-left: 850px;
}

.clean {
    margin-left: 1150px;
    margin-top: 200px;
}

.form {
    text-align: center;
    margin-top: 50px;
}

.form__item {
    margin-top: 50px;
}

.form__input {
    width: 250px;
    border-radius: 40px;
    border: 5px solid #392720;
    margin-left: 40px;
    margin-top: 5px;
}

.form__btn {
    width: 280px;
    border-radius: 40px;
    height: 60px;
    background-color: #392720;
    color: white;
    border: 5px solid #392720;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 5px;
}

.form__btn:hover {
    background-color: white;
    border: 5px solid #392720;
    color: #392720;
    transition: .4s;
}

.form__subtitle {
    margin-top: 50px;
    color: #949494;
}

.footer {
    background-color: #1E1D1A;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    text-align: center;
    align-items: center;
}

.politic {
    text-decoration: none;
    color: white;
}

.footer__info {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 200px;
}

.footer__info-subtitle {
    font-size: 12px;
    font-weight: 400;
}